@charset "utf-8";
/* CSS Document */

/* ----------------------------------------------------------------------------------------
/* Device max 992px
/* ---------------------------------------------------------------------------------------*/
@media screen and (max-width: 992px){
    
    /* ----------------------------------------------------------------------------------------
    /* GENERALS
    /* ---------------------------------------------------------------------------------------*/
    body .lbl-correction {
        padding-top: 7px!important;
        margin-top: 0px!important;
    }
    
	.logo {
        text-align: center;
        width: 100%;
    }
    
    
    /* ----------------------------------------------------------------------------------------
    /* HEADER
    /* ---------------------------------------------------------------------------------------*/
    
    
    
    
    /* ----------------------------------------------------------------------------------------
	/* Content
	/* ---------------------------------------------------------------------------------------*/
    
    
    
    
    /* SIDERBAR */
    .sidebar {
        clear:both;
    }
    
    
}