<div class="row main-top">
    <!-- Gallery FAUTEUILS/CHAISES  -->
    <div id="boiseries"></div>
    <h1><span class="mobile-oversized">Etapes de garnissage</span></h1>
    <div class="textMob">
        <p id="description_etapes_de_garnissage" itemprop="description" class="text-justify">
            Les differentes etapes de garnissage sont:
        </p>
    </div>
</div>

<div class="row">
    <comment-list></comment-list>
    <comment-list content-id="'7a3d042f-aae4-4e60-8385-7fc5320f572f'"></comment-list>
</div>